.footer {
  display: flex;
  justify-content: center;
}

.footer .footer__inner-wrapper {
  border-top: var(--border-footer-seperator);
  max-width: 63rem;
  width: 100%;
  padding: 2rem 1.5rem 5rem;
  display: grid;
  grid-gap: 1rem;
  margin-top: 3rem;
}

.footer a.footer__profile-links__icon-button > svg {
  stroke: currentColor;
  stroke-width: 0.6px;
}

.footer .footer__profile-links {
  display: flex;
}

.footer a.footer__profile-links__icon-button {
  width: 2rem;
  margin: 0 1rem 0 0;
}

.footer .footer__details {
  font-size: 1.5rem;
}

.footer .footer__details__version {
  font-size: 0.8em;
  text-transform: none;
}

.footer .footer__profile-legal {
  text-transform: lowercase;
  font-size: 0.75em;
  padding-top: 2rem;
}
