/* 
 * logo + text main header
 */

.logo-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* logo pic + text */
.logo {
  position: relative;
}

.logo__profile-pic {
  width: var(--layout-main-logo-width);
  z-index: +1 !important;
}

/* profile links */
.profile-links {
  display: flex;
  margin-top: 1rem;
}

.profile-links__icon-button {
  display: block;
  color: var(--color-primary-on-bg);
  height: var(--layout-main-icon-size);
  width: var(--layout-main-icon-size);
}

.profile-links__icon-button:not(:last-of-type) {
  margin-right: 1rem;
}

.profile-links__icon-button:hover {
  color: var(--color-primary-on-bg-hover);
}

/* responsive resize for < desktop */
@media (max-width: 768px) {
}
/* responsive resize for mobile */
@media (max-width: 576px) {
}
