{% macro cardBlock( linkUrl, imageUrl, title, publishDate, displayTags = [] ) %}
    <article class="card content__inner--tile">
        <a href="{{ linkUrl }}">
            <div class="card__image">
                <div role="presentation" class="card__image__placeholder"></div>
                <div
                    class="card__image__image img--lazy-load"
                    data-src="{{ imageUrl }}"
                    role="img"
                    aria-label="{{ title }}"
                ></div>
            </div>
            <h3 class="card__title">{{ title }}</h3>
            <span class="card__meta">{{ publishDate | date }}</span>
            <ul class="card__meta">
                {% for tag in displayTags %} 
                    {% if tag != 'post' and tag != 'meta-post' %}
                    <li>{{ tag | trim }}</li>
                    {% endif %} 
                {% endfor %}
            </ul>
        </a>
    </article>
{% endmacro %}