<footer class="footer">
  <div class="footer__inner-wrapper">
    <div class="footer__details">
      <h4>heapsgooddev <span class="footer__details__version"> v{{ pkg.version }}</span></h4>
    </div>
    <div class="footer__profile-links">
      <a aria-label="slack invite link" rel="noopener" class="profile-links__icon-button external-icon--exempt"
        href="https://join.slack.com/t/heapsgooddev/shared_invite/enQtNjkxODI4NDc0NzA4LTQ1NzE4ZTkwNjAyODAzYzA5NDBlNDc5OTQ4ODc2ZWJiNzU0MzAyODg0ZTJjMTA0YWM2ZDEzZjM4NjIyMDY3OGY"
        target="_blank">
        {% include 'icons/_slack.html' %}
      </a>
      <a aria-label="meetup link" rel="noopener" class="profile-links__icon-button external-icon--exempt"
        href="https://www.meetup.com/heapsgooddevbeers/" target="_blank">
        {% include 'icons/_meetup.html' %}
      </a>
      <a aria-label="twitter link" rel="noopener" class="profile-links__icon-button external-icon--exempt"
        href="https://twitter.com/danharris_io" target="_blank">
        {% include 'icons/_twitter.html' %}
      </a>
      <a aria-label="shop link" rel="noopener" class="profile-links__icon-button external-icon--exempt"
        href="https://www.redbubble.com/people/heapsgooddev/shop" target="_blank">
        {% include 'icons/_redbubble.html' %}
      </a>
    </div>
    <div class="footer__profile-legal">
      <p>
        <a aria-label="code of conduct link" href="/conduct">
          Code of Conduct
        </a>
      </p>
      <p>
        <a aria-label="contact link" href="mailto:team@heapsgood.dev">
          team@heapsgood.dev
        </a>
      </p>
      <p>
        Made with ☕️, from adelaide.
      </p>
      <p>
        © 2020
      </p>
    </div>
  </div>
</footer>
