---
layout: page-default
---
{% import "_author.njk" as authorInclude %}

<article class="blog-post content__inner--full-width">
    <!-- header title + image .etc -->
    <header class="blog-post__header">
        {# <div class="blog-post__header__image">
            <div role="presentation" class="blog-post__header__image__placeholder"></div>
            <div class="blog-post__header__image__image img--lazy-load" data-src="/blog-images/{{ slug }}.jpg" role="img" aria-label="{{ title }}"></div>
        </div> #}
        <h1 class="blog-post__header__title">{{ title }}</h1>
         <section class="blog-post__authors">
            {% for author in authors %}
                {{ authorInclude.sigBlock(author, authorsdata)}}
            {% endfor %}
        </section>
    </header>
    {{ content | safe }}
</article>