/* main content wrappers */
main.outer-wrapper,
.content__outer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* set default grid for content */
.content__inner-wrapper {
  margin-top: var(--layout-navbar-height);
  max-width: var(--layout-content-max-width);
  padding: 5rem var(--layout-content-default-gutter);
  align-items: unset;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5rem;
}

@media (max-width: 576px) {
  .content__inner-wrapper {
    padding: 3rem 0.5rem;
  }
}

.content__inner--full-width {
  grid-column: span 12;
}

@media (max-width: 576px) {
  /* full-width views need some extra padding for smaller res */
  .content__inner--full-width {
    padding: 0.5rem;
  }
}

.content__inner--tile {
  grid-column: span 6;
}

@media (max-width: 576px) {
  /* make content tiles take up entire window on mobile-ish sizes */
  .content__inner--tile {
    grid-column: span 12;
  }
}

/* quick hack to put fira code as the prism display font */
pre.prism-code.builtin-prism-theme {
  font-family: 'FuraCode Nerd Font Mono', monospace;
}

/* change list style */
.content__inner-wrapper li {
  margin: 0em 0 0.25em;
  list-style: none;
}

.content__inner-wrapper li::before {
  content: '●';
  position: absolute;
  left: 0.75rem;
  color: var(--color-secondary);
}
