html,
body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  /* this is used for all sizing (rem). */
  font-size: 16px;
}

body {
  background-color: var(--color-primary-bg);
  color: var(--color-on-primary);
  font-size: 1.25rem;
}

/* hide focus outline (will be enabled on first keyboard usage) */
body:not(.show-focus) *:focus,
body:not(.show-focus) input[type="checkbox"]:focus ~ label {
  outline: none;
}

:focus {
  outline-color: var(--color-secondary);
  outline-width: 0.25rem;
  outline-style: dashed;
  outline-offset: 0.5rem;
}

/* need to keep focus for custom input elements */
input[type="checkbox"]:focus ~ label {
  outline-color: var(--color-secondary);
  outline-width: 0.25rem;
  outline-style: dashed;
  outline-offset: 0.5rem;
}

button {
  color: var(--color-primary-on-bg);
}

button path {
  stroke: var(--color-primary-on-bg);
}

/* default svg's to use parent color for fill */
svg {
  fill: currentColor;
}

/* anchors */
a:hover,
a:focus {
  color: var(--color-secondary);
}

a,
a:visited,
a:active {
  font-weight: 500;
  text-decoration-color: var(--color-secondary);
}

/* default external link icon */
a[href^="https://"]:not(.external-icon--exempt)::after {
  content: " ↗";
  font-family: "FuraCode Nerd Font Mono", "Fira Sans", sans-serif;
  position: relative;
  font-weight: 600;
  margin-left: 0.1em;
  color: var(--color-secondary);
  letter-spacing: -0.6em;
  margin-right: 0.7em;
}

/* headings */
h1,
h2,
h3,
h4 {
  font-family: "Fjalla One", "Fira Sans", Arial, Helvetica, sans-serif;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 1.25em;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

/* texty-rexty */
hr {
  width: 90%;
  max-width: 16rem;
  position: relative;
  overflow: visible;
  background-color: var(--color-secondary);
  height: 0.3rem;
  margin-top: 3.25rem;
  margin-bottom: 3rem;
}

hr::after {
  content: "";
  border: 0.25rem solid var(--color-secondary);
  border-top: none;
  border-bottom: none;
  position: absolute;
  height: 1.25rem;
  width: 1rem;
  top: -0.55rem;
  left: calc(50% - 1rem);
  display: block;
  box-sizing: border-box;
}
